
@{
    ViewBag.Title = "Alumnerne";
}

<!--Standard header-->
<div class="ui parallax vertical stripe introduction segment" style="background-image: url(../../Files/Kollegieliv/mathilden_mast.jpg);">
    <div class="container">
        <div class="ui two column grid">
            <div class="row">
                <div class="column">
                    <header>
                        <h1 class="pagetitle">Alumnerne</h1>
                        <span class="pagetitle subheader">Om oss</span>
                    </header>
                </div>
                <div class="column">
                    <div class="ui breadcrumb">
                        <a class="section" href="/">Home</a>
                        <div class="divider"> / </div>
                        <a class="section" href="/Kollegielivet/">Kollegielivet</a>
                        <div class="divider"> / </div>
                        <a class="active section">Alumnerne</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


