
@{
    ViewBag.Title = "Kollegielivet";
}

<!--Standard header-->
<div class="ui parallax vertical stripe introduction segment" style="background-image: url(../../Files/Kollegieliv/mathilden_mast.jpg);">
    <div class="container">
        <div class="ui two column grid">
            <div class="row">
                <div class="column">
                    <header>
                        <h1 class="pagetitle">Kollegielivet</h1>
                        <span class="pagetitle subheader">Tradisjoner og felleskap</span>
                    </header>
                </div>
                <div class="column">
                    <div class="ui breadcrumb">
                        <a class="section" href="/">Home</a>
                        <div class="divider"> / </div>
                        <a class="active section">Kollegielivet</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--Intro statement-->
<div class="ui vertical stripe introduction segment no-devider">
    <div class="ui stackable very relaxed center aligned grid container">
        <div class="spacing row">

        </div>
        <div class="row text-center">
            <header class="sec-heading">
                <h1>Livet på gahk</h1>
                <span class="subheader">Vi er har det ganske ok</span>
            </header>
            <p>
                Alle er på hver sin måde med til at tage ansvar for kollegiet fungerer i det daglige. Bestyrelsen og alumnerne har et tæt samarbejde, og hvert halve år holder vi generalforsamling, hvor de nye embedsgrupper bliver nedsat.
            </p>
            <p>
                Kollegiet holder I årets løb mange gamle og festlige traditioner i hævd. For eksempel fejrer vi grundlæggerens fødselsdag med en årlig skovtur i maj, Mathildefesten til ære for hans hustru og hjemkomstfest i september.
            </p>
        </div>
    </div>
</div>
<div class="spacing row"></div>

<!--Paralax image with an amazing quote-->
<div class="ui parallax vertical stripe introduction segment" style="background-image: url(../../Files/Kollegieliv/glans_band.jpg);">
    <div class="centered container">
        <h3 style="color:white;">Alumnerne</h3>
    </div>
</div>

<!--Alumnerne-->

<div class="ui vertical stripe introduction segment">
    <div class="ui fluid centered stackable link cards">
        <div class="ui card">
            <div class="image">
                <img src="~/Files/Images/madordning.jpg" />
            </div>
            <div class="content">
                <a class="header"></a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="~/Files/Kollegieliv/Glanzboy.jpg" />
            </div>
            <div class="content">
                <a class="header">The Glænz</a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="~/Files/Kollegieliv/Glanzboy.jpg" />
            </div>
            <div class="content">
                <a class="header">The Glænz</a>
                <div class="description small-padster">
                    Jeg blev inviteret til Nye Alumners Fest af min gamle tutor, der bor her og efter festen, var jeg nødt til at sende en ansøgning. Nu har jeg boet her i to år, og jeg er vild glad for det. Jeg var spændt på at flytte på kollegie efter at have boet alene i tre år, men jeg fandt hurtigt ud af, at det er luksus at have 60 roomies, og at der også er plads til privatliv. Det kan være lidt skræmmende i starten med så mange nye mennesker, man skal bo sammen med, men folk er enorm åbne, og der er plads til at være den, man er. ​I forhold til privatliv kan man sagtens trække sig tilbage på sit værelse eller på læsesalen, hvis man har brug for at koncentrere sig om en opgave. Og så ved man, hvor man kan gå hen, hvis man vil have selskab.

                    Når man kommer hjem fra en lang dag på studiet, kan man gå ned og snakke med folk i spisesalen, man kan hænge ud i TV-stuen eller også bliver der holdt drinksaften på en af salene, som vi tit gør på 4. sal, hvor jeg bor. Udover dagligdagshyggen er det fedt at bo i et hus, der emmer af historie og traditioner. Skovturen er min yndlingstradition, hvor alle sætter en dag af til fælles udflugt og man kommer lidt væk fra vante rammer, men nytårsaften er også altid en virkelig god fest.
                </div>
            </div>
        </div>
    </div>
</div>

    <div style="padding-bottom:300px;"></div>
    <script src="~/Scripts/enableHeader.js"></script>
