
@{
    ViewBag.Title = "Historie";
}


<!--Standard header-->
<div class="ui parallax vertical stripe introduction segment" style="background-image: url(../../Files/Portfolio/legater.jpg);">

    <div class="container">
        <div class="ui two column grid">
            <div class="row">
                <div class="column">
                    <header>
                        <h1 class="pagetitle">Historie</h1>
                        <span style="color:white" class="pagetitle subheader">Hvem er vi</span>
                    </header>
                </div>
                <div class="column">
                    <div class="ui breadcrumb">
                        <a style="color:white" class="section" href="/">Home</a>
                        <div class="divider"> / </div>
                        <a style="color:white" class="active section">Historie</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Intro statement-->
<div class="ui inverted vertical stripe introduction segment no-devider">
    <div class="ui stackable very relaxed center aligned grid container">
        <div class="spacing row">

        </div>
        <div class="row text-center">
            <header class="sec-heading">
                <h1 style="color:white">Kollegiets Historie</h1>
                <span class="subheader">very cool story bro. so much enlightment</span>
            </header>

        </div>
    </div>
</div>


<div class="ui grid two column relaxed stackable nopads">
    <!--Origin story-->
    <div class="row nopads">
        <div class="story text column">
            <h4>origin story</h4>
            <p>I 1908 indviede industri- og videnskabsmanden Gustav Adolph Hagemann sit historiske kollegium på indre Østerbro under mottoet "Tien andre, vil selv du tienes." Hagemann benyttede derved en del af sin formue, der var indtjent gennem et langt liv, til at afhjælpe studerendes boligbehov.</p>
            <p>De studerendes boligforhold lå grundlæggeren meget på sinde. Han lod derfor dele af inventaret levere i sit eget hjem, så han kunne afprøve det, inden han lod kollegiet indrette med det. Således afprøvede han til eksempel forskellige sovesofaer, som alumnerne skulle sove i på deres værelser og spiste med det nikkelbestik, som han påtænkte at anvende ved måltiderne.</p>

        </div>
        <div class="story image column">
            <img src="~/Files/History/1.jpg" />
        </div>
    </div>

    <!--kvinner og menn-->
    <div class="row nopads">
        <div class="story image column">
            <img src="~/Files/History/2.jpg" />
        </div>
        <div class="story text column">
            <h4>damer og herrer</h4>
            <p>Da G. A. Hagemanns Kollegium blev indviet, var det et af de mest frisindede kollegier af sin tid, idet både mandlige og kvindelige studerende, som de første i Danmark, fik mulighed for at bo side om side på et kollegium. Udformningen af kollegiet og den daglige gang blev i høj grad præget af Hagemanns ideologi om fællesskabet som det centrale.</p>
        </div>
    </div>


    <!--Anbdre verdenskrig-->
    <div class="row nopads">
        <div class="story text column">
            <h4>Andre verdenskrig</h4>
            <p>Anden Verdenskrig gik ikke hen over hovedet på alumnerne på G. A. Hagemanns Kollegium. Der er ikke megen tvivl om, at nogle af alumnerne deltog aktivt i modstandsbevægelsen, og i kollegiets indgangsparti hænger da også en mindeplade med navnene på de alumner som faldt i krigen. Kollegiet blev sågar i en periode brugt som lazaret for tyske krigsflygtninge, og det var først en gang i 1946, at alumnerne kunne flytte hjem igen til et normalt liv.</p>
        </div>
        <div class="story image column">
            <img src="~/Files/History/3.jpg" />
        </div>
    </div>

    <!--Opptaksprøve -->
    <div class="row nopads">
        <div class="story image column">
            <img src="~/Files/History/4.jpg" />
        </div>
        <div class="story text column">
            <h4>Optagelsesprøver</h4>
            <p>Optagelsesprøver var obligatoriske på kollegiet før i tiden. Man skulle igennem tre faser. For det første skulle man testes i sin paratviden om grundlæggeren, kollegiet og andre relevante forhold. Dernæst skulle man stjæle et skilt (derfor de mange skilte, som kollegiet har) og til slut skulle man udføre en opgave. En alumne skulle for eksempel løbe sækkevæddeløb ned ad strøget, en anden skulle holde en offentlig tale for ændernes ret til ikke at fryse om vinteren. Optagelsesprøverne praktiseres ikke længere på kollgiet, men G. A. Hagemanns Kollegium vedbliver at være et sted, hvor man ikke bare flytter ind. </p>
        </div>
    </div>

    <!--Renovering-->
    <div class="row nopads">
        <div class="story text column">
            <h4>renovering</h4>
            <p>
                Kollegiet er flere gange blevet renoveret, men altid med respekt for det arkitekturhistoriske udtryk. I nyere tid er kollegiet undergået en gennemgribende renovering, hvor stedet blandt andet fik flere værelser i stuen læsesal under taget samt TV-stue. Desværre havde støvet fra renoveringen knap lagt sig, før vandet fossede ind sommeren 2011. Kollegiet blev oversvømmet i hele underetagen, og det var ikke før til Gamle Alumners Fest i marts 2012 at kollegiet atter kunne slå dørene op til disse prægtige lokaler.
            </p>
            <p>
                Men oversvømmelsen til trods lever Hagemanns ånd og hans tanker om kollegiet som et forpligtende fællesskab videre i bedste velgående.
            </p>
        </div>
        <div class="story image column">
            <img src="~/Files/History/3.jpg" />
        </div>
    </div>

</div>



<!--outro statement-->
<div class="ui inverted vertical stripe introduction segment no-devider">
    <div class="ui stackable very relaxed center aligned grid container">
        <div class="spacing row">

        </div>
        <div class="row text-center">
            <header class="sec-heading">
                <h1 style="color:white">vår vision for kollegiet</h1>
                <span class="subheader">Tiden fremover</span>
            </header>
            <p>
                GAHK skal videreføre G.A. Hagemanns ønske om at skabe et hjem præget af forpligtende fællesskab for alumnerne med særligt hensyn til nutidens krav og fremtidens muligheder. GAHK skal i tråd med Hagemanns ånd være funderet på en innovativ, fremsynet kultur, der indbyder til tværfaglig nytænkning og kunstnerisk udfoldelse.
            </p>
            <p>
                GAHK skal være et rummeligt og gæstfrit sted, som favner kvinder og mænd fra alle studieretninger.

            </p>
        </div>
    </div>
</div>




<script src="~/Scripts/disableHeader.js"></script>