
@{
    ViewBag.Title = "Index";
}


<div class="segment masthead bg8">
    <div class="ui masthead container">
        <div class="introduction">
            <h1 class="ui inverted header">G.A Hagemanns Kollegium</h1>
        </div>
    </div>

</div>


<div class="ui vertical stripe introduction segment">
    <div class="ui stackable very relaxed center aligned grid container">
        <div class="spacing row">

        </div>
        <div class="row text-center">
            
            <h1 class="head-devider">Velkommen til vårt kollegium</h1>
           

            <p>
                G. A. Hagemanns Kollegium er et af de ældste kollegier i København og huser 61 alumner indskrevet på vidt forskellige studier og opvokset i alle afkroge af landet. Siden 1908 har alumnerne inden for de gamle mure levet en tilværelse med højt til loftet, gensidig respekt og en vilje til at bidrage med 110 procent til et enestående fællesskab.
            </p>
        </div>
    </div>
</div>

<div class="ui vertical stripe introduction segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column portfolio-box">
                <div class="burring dimmable image">
                    <div class="ui dimmer transition hidden">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button">Bilder</div>
                            </div>
                        </div>

                    </div>
                    <img src="~/Files/Portfolio/bilder.jpg" />
                </div>
                
            </div>
            <div class="column">
                <img src="~/Files/Portfolio/faciliter.jpg" />

            </div>
            <div class="column">
                <img src="~/Files/Portfolio/historie.jpg" />

            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="~/Files/Portfolio/kollegielivet.jpg" />
            </div>
            <div class="column">
                <img src="~/Files/Portfolio/legater.jpg" />
            </div>
            <div class="column">
                <img src="~/Files/Portfolio/vision.jpg" />
            </div>
        </div>
    </div>

</div>

<div class="ui vertical stripe introduction segment">
    <div class="ui stackable very relaxed center aligned grid container">
        <div class="spacing row">

        </div>
        <div class="row text-center">

            <h1 class="head-devider">Velkommen til vårt kollegium</h1>


            <p>
                G. A. Hagemanns Kollegium er et af de ældste kollegier i København og huser 61 alumner indskrevet på vidt forskellige studier og opvokset i alle afkroge af landet. Siden 1908 har alumnerne inden for de gamle mure levet en tilværelse med højt til loftet, gensidig respekt og en vilje til at bidrage med 110 procent til et enestående fællesskab.
            </p>
        </div>
    </div>
</div>

<script src="~/Scripts/Home.js"></script>
