
@{
    ViewBag.Title = "";
}

<div class="gray-background">

    <div class="segment masthead bg8" style="background-image:url(../../Files/Images/main.jpg);">
        <div class="ui masthead container">
            <div class="introduction">
                <h1 class="ui inverted header">G.A Hagemanns Kollegium</h1>
            </div>
        </div>
    </div>

    <!--Introduction text-->
    <div class="ui vertical stripe introduction segment no-devider">
        <div class="ui stackable very relaxed center aligned grid container">
            <div class="spacing row">

            </div>
            <div class="row text-center">

                <h1 class="head-devider">Velkommen til vores kollegium</h1>

                <p>
                    G. A. Hagemanns Kollegium er et af de ældste kollegier i København og huser 61 alumner indskrevet på vidt forskellige studier og opvokset i alle afkroge af landet. Siden 1908 har alumnerne inden for de gamle mure levet en tilværelse med højt til loftet, gensidig respekt og en vilje til at bidrage med 110 procent til et enestående fællesskab.
                </p>
            </div>
        </div>
    </div>


    <!--Portfolio-->
    <section class="p-0 padster" id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">

                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">

                        <img class="img-fluid" src="~/Files/Portfolio/historie.jpg" />

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Historie
                                </div>
                                <div class="project-name">

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">

                        <img class="img-fluid" src="~/Files/Portfolio/3.jpg" />

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Bilder
                                </div>
                                <div class="project-name">

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">

                        <img class="img-fluid" src="~/Files/Portfolio/bilder.jpg" alt />

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Glans
                                </div>
                                <div class="project-name">

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">

                        <img class="img-fluid" src="~/Files/Portfolio/faciliter.jpg" />

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Faciliteter
                                </div>
                                <div class="project-name">

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">

                        <img class="img-fluid" src="~/Files/Portfolio/kollegielivet.jpg" />

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Kollegieliv
                                </div>
                                <div class="project-name">

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">

                        <img class="img-fluid" src="~/Files/Portfolio/legater.jpg" alt />

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Pylon
                                </div>
                                <div class="project-name">

                                </div>
                            </div>
                        </div>
                    </a>
                </div>




            </div>
        </div>
    </section>

    <!--TOP 3 BRO-->

    <div class="ui vertical stripe introduction segment">
        <div class="ui stackable very relaxed center aligned grid container">
            <div class="spacing row">
            </div>
            <div class="row text-center">
                <header class="sec-heading">
                    <h1>Københavns fedeste kollegium, bro</h1>
                    <span class="subheader">Vi har for eksempel dette, som er nice</span>
                </header>



            </div>
        </div>
        <div class="ui wide container">
            <div class="ui fluid centered stackable link cards">
                <div class="ui card">
                    <div class="image">
                        <img src="~/Files/Images/madordning.jpg" />
                    </div>
                    <div class="content">
                        <a class="header">Madordning</a>
                        <div class="description small-padster">
                            For satan mænd. Mad for helvede. Precis så meget du vil.
                            Det er så fuckings smukt. Men ikke ta runde 2 før kl 1830 fordi da bliver du shamet, bro.

                        </div>
                        <div class="ui button">Læs mer</div>
                    </div>
                </div>

                <div class="ui card">
                    <div class="image">
                        <img src="~/Files/Images/selvstyre.jpg" />
                    </div>
                    <div class="content">
                        <a class="header">Selvstyre</a>
                        <div class="description small-padster">
                            Alle alumner er med til at drive kollegiet i det daglige og tage ansvar for, at kollegiet fungerer.
                        </div>
                        <div class="ui button">Læs mer</div>
                    </div>
                </div>



                <div class="ui card">
                    <div class="image">
                        <img src="~/Files/Images/fellesskab.jpg" />
                    </div>
                    <div class="content">
                        <a class="header">Fellesskab</a>
                        <div class="description small-padster">
                            Felleskapet forsterkes gjennom ulike aktiviter som tradisjonelle fester, fotball laget, embetsgrupper osv.
                        </div>
                        <div class="ui button">Læs mer</div>
                    </div>
                </div>


            </div>

        </div>


        <!--Paralax image with an amazing quote-->
        <div class="ui parallax vertical stripe introduction segment" style="background-image: url(../../Files/Images/hall2.jpg);">
            <div class="centered container">
                <h3 style="color:white;font-style:italic">"Alle beboere har at opføre sig som gentlemen og ladies"</h3>
                <h4 style="color:white">- G.A Hagemann</h4>
            </div>
        </div>
        <!-- ?? -->

        <div class="ui vertical stripe introduction segment">
            <div class="ui stackable very relaxed center aligned grid container">
                <div class="spacing row">

                </div>
                <div class="row text-center">
                    <header class="sec-heading">
                        <h1>Søg nu</h1>
                        <span class="subheader">Men det er ikke garantert at du får bo her</span>
                    </header>
                    <p>
                        Her er dejligt på G.A.Hagemanns kollegium, og vi er derfor glade for at vise stedet frem. Hvis du er interesseret i at bo her, skal du derfor først på en rundvisning, da vi føler det er vigtigt, at man som kommende alumne har et lille indblik i husets hverdag.
                    </p>
                </div>
                <div class="row text-center">
                    <div class="ui button">Søg opptagelse</div>

                </div>
                <div class="spacing row">

                </div>
            </div>
        </div>
            <!-- Kontakt - søk nå osv -->

        <div class="map wrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.69178764705!2d12.58505901605283!3d55.694346103966254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46524e7d0398546f%3A0x20aa6cfebbdb32ec!2sG.A.+Hagemanns+Kollegium!5e0!3m2!1sen!2sdk!4v1536564256626" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </div>

</div>


<script src="~/Scripts/enableHeader.js"></script>
