
@{
    ViewBag.Title = "Index";
}

<!--MAST HEAD-->
<header class="masthead text-center text-white d-flex">
    <div class="gahk-content-wrapper">
        <div class="row">
            <div class="mx-auto">
                <h1 class="text-uppercase">
                    <strong>G.A Hagemanns Kollegium</strong>
                </h1>
            </div>
            <div class="mx-auto">
                <p class="text-faded mb-5">
                    G. A. Hagemanns Kollegium er et af de ældste kollegier i København og huser 61 alumner indskrevet på vidt forskellige studier og opvokset i alle afkroge af landet. Siden 1908 har alumnerne inden for de gamle mure levet en tilværelse med højt til loftet, gensidig respekt og en vilje til at bidrage med 110 procent til et enestående fællesskab.
                </p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>

<!-- SECTIONS -->
 <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>




