
@{
    ViewBag.Title = "Portfolio - ";
}


<div class="gray-background">

    <!--Standard header-->
    <div class="ui parallax vertical stripe introduction segment" style="background-image: url(../../Files/Images/main.jpg);">
        <div class="container">
            <div class="ui two column grid">
                <div class="row">
                    <div class="column">
                        <header>
                            <h1 class="pagetitle">Portfolio</h1>
                            <span class="pagetitle subheader">Noen freshe bilder fra kollegiet</span>
                        </header>
                    </div>
                    <div class="column">
                        <div class="ui breadcrumb">
                            <a class="section" href="/">Home</a>
                            <div class="divider"> / </div>
                            <a class="active section">Portfolio</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!--Intro statement-->
    <div class="ui vertical stripe introduction segment no-devider">
        <div class="ui stackable very relaxed center aligned grid container">
            <div class="spacing row">

            </div>
            <div class="row text-center">
                <header class="sec-heading">
                    <h1>Bilder fra kollegiet</h1>
                    <span class="subheader">Something something bilder fra facebook måske</span>
                </header>
            
            </div>
        </div>
    </div>

    <!--Dem items-->
    <div class="portfolio-items container">
        <div class="ui three column relaxed stackable grid">
            <div class="image column">
                <img src="~/Files/Images/fellesskab.jpg" />
            </div>
            <div class="image column">
                <img src="~/Files/Images/hall2.jpg" />
            </div>
            <div class="image column">
                <img src="~/Files/Images/madordning.jpg" />
            </div>
            <div class="image column">
                <img src="~/Files/Images/fellesskab.jpg" />
            </div>
            <div class="image column">
                <img src="~/Files/Images/hall2.jpg" />
            </div>
            <div class="image column">
                <img src="~/Files/Images/madordning.jpg" />
            </div>
            <div class="image column">
                <img src="~/Files/Images/fellesskab.jpg" />
            </div>
            <div class="image column">
                <img src="~/Files/Images/hall2.jpg" />
            </div>
            <div class="image column">
                <img src="~/Files/Images/madordning.jpg" />
            </div>
            <div class="image column">
                <img src="~/Files/Images/fellesskab.jpg" />
            </div>
            <div class="image column">
                <img src="~/Files/Images/hall2.jpg" />
            </div>
            <div class="image column">
                <img src="~/Files/Images/madordning.jpg" />
            </div>
        </div>
       
        
    </div>

</div>


<script src="~/Scripts/disableHeader.js"></script>