<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title - G.A Hagemanns Kollegium</title>



    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link href="~/Scripts/magnific-popup/magnific-popup.css" rel="stylesheet">


    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <!-- Creative styles (edited)-->

    <link href="~/Content/Creative/creative.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

</head>



<body id="page-top">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-fixed-top navbar-expand-lg navbar-light" data-spy="affix">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">G.A Hagemanns Kollegium</a>
                <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav pull-right navbar-nav">
                    <li>
                        <a href="#">Link</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Body-->
    @RenderBody()


    <!-- DO WE WWANT A FOOTER?! NO!!!!
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year</p>
    </footer>-->




    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Scripts/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Scripts/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/Scripts/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Creative template scripts -->
    <script src="~/Scripts/Creative/creative.min.js"></script>
</body>
</html>