<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title - G.A Hagemanns Kollegium</title>



    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link href="~/Content/magnific-popup/magnific-popup.css" rel="stylesheet">


    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <link href="~/Content/Semantic/semantic.min.css" rel="stylesheet" type="text/css" />
    <!-- Creative -  For portfolio -->
    <link href="~/Content/Creative/creative.min.css" rel="stylesheet" type="text/css" />


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--Custom styles-->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />


</head>



<body id="">
    <!-- Navigation -->
    <div class="pusher">
        <div class="following bar">
            <div class="ui container">
                <div class="ui large secondary network menu inverted">
                    <div class="item">
                        <div class="active ui side">
                            <img class="ui image" src="~/Files/Images/gahk_logo_small.png" />
                        </div>

                    </div>

                    <div class="right menu inverted">
                        <div class="item">
                            <a href="Hey">Historie</a>
                        </div>
                        <div class="item">
                            <a href="Hey">Vision</a>
                        </div>
                        <div class="item">
                            <a href="Hey">Kollegielivet</a>
                        </div>
                        <div class="item">
                            <a href="Hey">Faciliteter</a>
                        </div>
                        <div class="item">
                            <a href="Hey">Opptagelse</a>
                        </div>
                    </div>
                </div>

            </div>



        </div>

        <!--Body-->
        @RenderBody()
    </div>


    <!-- DO WE WWANT A FOOTER?! NO!!!!
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year</p>
    </footer>-->





    <script src="~/Scripts/bootstrap.min.js"></script>



    <!-- Plugin JavaScript -->
    <script src="~/Content/jquery-easing/jquery.easing.min.js></script>
    <script src="~/Content/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/Content/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="~/Content/Semantic/semantic.min.js"></script>
    <!-- Creative -  For portfolio -->
    <script src="~/Content/Creative/creative.min.js"></script>



</body>
</html>